
<div *ngIf="!ready">Loading Component Details....</div>

<div *ngIf="ready">

<mpage-select 
    label="Clinic" 
    class="clinic_list"
    [(ngModel)]="this.prompts.org_name"
    [values]="['Covenant Neurohospitalists - Trustee Tower','Knoxville Neurology Specialists']">
</mpage-select>

<ng-container *ngIf="ready">
<mpage-select 
    label="Referring Provider" 
    class="referring_search"
    [(ngModel)]="this.prompts.provider" 
    [physicianInd]="true" 
    [searchable]="true"
    hintLabel="Referring Provider will default to current encounter Attending if not specified">
</mpage-select>
</ng-container>
<button (click)="createEncounter($event)" mat-raised-button>Create Encounter</button>
<ng-container *ngIf="encounterCreated">
    <br><br><br>
    <div>The new encounter has been created.  Click to
        <a 
            href="#"
            (click)="openEncounter($event)"
        >Change to Encounter (FIN:{{this.newFIN}})</a>
        <a href="#" id="applink"></a>
    </div>
    </ng-container>
</div>

<div class='separator'>
    <br><br><br>
v{{currentApplicationVersion}}
</div>
<mpage-log-component></mpage-log-component>

