
<div *ngIf="!ready">Loading Component Details....</div>

<div *ngIf="ready">

<mpage-select 
    label="Clinic" 
    class="clinic_list"
    [(ngModel)]="clinicEncounter" 
    [values]="['Knoxville Neurology Specialists']">
</mpage-select>


<mpage-select 
    label="Referring Provider" 
    class="referring_search"
    [(ngModel)]="referringProvider" 
    [physicianInd]="true" 
    [searchable]="true"
    hintLabel="Referring Provider will default to current encounter Attending if not specified">
</mpage-select>

<button (click)="createEncounter($event)" mat-raised-button>Create Encounter</button>
<ng-container *ngIf="encounterCreated">
    <div>Here is the link to the new encounter</div>
    {{newEncntrID}}
    {{newPersonID}}
    <a 
        href="#"
        (click)="openEncounter($event)"
    >Open New Encounter</a>
    <a href="#" id="applink"></a>
    </ng-container>
</div>
v2
<mpage-log-component></mpage-log-component>

