// * Import theme from theme generator *//
@use '~@angular/material' as mat;
@import "theme";

.clinic_list {
    width:300px
}

.referring_search {
    width:300px
}

.separator  {
    height:100px;
    vertical-align: bottom;
}

.smallHidden {
    color: rgb(179, 178, 178);
    size: 10pt;
}
